.forest__container {
    max-height: 220px;
    max-width: 380px;
}

@media screen and (max-width: 600px) {
    .forest__container {
        margin: 0 auto;
        max-width: 530px;
    }
}