.sea__wrapper {
    display: flex;
    flex-direction: column;
    gap: 120px;
    max-width: 640px;
    /* height: 531px; */
    margin-left: 70px;
    justify-content: space-around;
}

@media screen and (max-width: 1180px) {
    .sea__wrapper {
        gap: 60px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    .sea__wrapper {
        margin: 30px 0;
        text-align: center;
        gap: 40px;
    }
}