.opinions__title {
    margin-top: 40px;
    margin-bottom: 0;
    max-width: 500px;
    font-family: 'Axiforma Bold', Arial, sans-serif;
    font-size: 33px;
}

@media screen and (max-width: 538px) {
    .opinions__title {
        font-size: 30px;
    }
}