.forest {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
}

@media screen and (max-width: 460px) {
  .forest {
    flex-direction: column-reverse;
  }
}
