.header__link {
  display: block;
  text-decoration: none;
  color: #000;
  margin: 0;
  font-family: 'Bahnschrift';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 700;
  transition: 1s;
}

.header__link:hover {
  opacity: .7;
}