.header__link {
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Bahnschrift';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 700;
  transition: .5s;
}

.header__link:hover {
  opacity: .7;
}

@media screen and (max-width: 450px) {
  .header__link {
    font-size: 22px;
    line-height: 28px;

  }
}