.intro {
  display: grid;
  grid: min-content / auto auto;
  column-gap: 180px;
}

@media screen and (max-width: 1100px) {
  .intro {
    column-gap: 100px;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    column-gap: 60px;
  }
}

@media screen and (max-width: 650px) {
  .intro {
    column-gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    grid: min-content / auto;
  }
}