.opinions__container-t {
    margin: 0 auto 130px auto;
    width: 1080px;
}

@media screen and (max-width:1088px) {
    .opinions__container-t {
        width: 800px;
    }
}

@media screen and (max-width:814px) {
    .opinions__container-t {
        width: 525px;
    }
}

@media screen and (max-width:538px) {
    .opinions__container-t {
        width: 260px;
        text-align: center;
    }
}