.intro__image {
  height: 355px;
  width: 355px;
  grid-column: 2;

  object-fit: cover;
}

@media screen and (max-width: 1030px) {
  .intro__image {
    height: 320px;
    width: 320px;

  }
}

@media screen and (max-width: 800px) {
  .intro__image {
    height: 300px;
    width: 300px;

  }
}

@media screen and (max-width: 650px) {
  .intro__image {
    height: 280px;
    width: 280px;

  }
}

@media screen and (max-width: 600px) {
  .intro__image {
    grid-column: 1;
    place-self: center;

  }
}


@media screen and (max-width: 460px) {
  .intro__image {
    height: 320px;
    width: 100%;

  }
}